html{
    font-size: 100px;
}
body{
	width: 100%;
    font-family: "Microsoft Yahei",sans-serif;
	background-color: #fafafa;
}
@media screen and (max-width: 520px){
    html{font-size: 70px;}
}
.disp-ib{
	display: inline-block;
}
.of-hidden{
	overflow: hidden;
}
.content-wrap{
	padding: 0 12%;
}
header .header-top{
	font-size: .16rem;
	height: .42rem;
	line-height: .42rem;
	color: #29b078;
}
.header-top .header-icon {
	overflow: hidden;
	max-width: 1.5rem;
	width:30%;
}
.header-top .header-icon li {
	overflow: hidden;
	float: right;
	width: 23%;
	margin-left: 6%;
}
.header-top .header-icon li img {
	max-width: .25rem
}
.float-left{
	float: left
}
.float-right{
	float: right;
}
header .header-nav {
	padding:0 12% 0 8%;
	height: 1.07rem;
	background-color: #29b078;
}
.header-nav .nav {
	overflow: hidden;
	width: 60%;
	border:none;
}
.header-nav .logo {
	line-height: 1.07rem;
}
.header-nav .logo img {
	max-width: 1.7rem;
}
.header-nav .nav > li {
	float: right;
	padding: .42rem 3% .41rem 3%;
}
.header-nav .nav > li > a {
	border: none;
	margin: 0;
	padding: 0;
	font-size: .16rem;
	color: #fff;
}
.header-nav  .nav > li:hover {
	background-color: #29b078;
	border-bottom: .03rem solid #fff;
}
.header-nav  .nav > li >a:hover {
	background-color: #29b078;
}