*{margin:0;padding:0;}
html {font-size: 100px}
.wrap {
	overflow: hidden;
	max-width: 640px;
	margin: 0 auto;
	background-color: #6CCDD5;
}
img {
	max-width: 100%;
	min-width: .5rem;
}
.back{
	width: 14%;
	padding: .18rem;
}
.logo {
	text-align: center;
	margin-bottom: 1.1rem;
}
.logo img {
	min-width: 1.5rem;
}
.logo img{
	width:30%;
}
.content{
	width:72%;
	margin:0 auto;
	font-size: .3rem;
	line-height: .54rem;	
	color:white;
}
.footer{
	overflow: hidden;
	width:72%;
	margin: 1.52rem auto;
}
.footer-img1{
	width:16.6%;
	float:left;
	padding-left: 10%;
}
.footer-img2{
	width:16.6%;
	float:right;
	padding-right: 10%;
}
@media screen and (max-width: 450px){
	html {font-size: 80px;}
	.logo {margin-bottom: .5rem}
	.content {font-size: .28rem}
	.footer {margin: .7rem auto;}
}




