*{margin:0;padding:0;}
body{
	background-color: #6CCDD5;
}
.back{
	width:14%;
	padding:5%;
}
.logo {
	text-align: center;
	margin-bottom: 10%;
}
.logo img{
	width:25%;
}
.content{
	width:72%;
	margin:0 auto;
	color:white;
	font-size: 2.8em;
}
.footer{
	width:72%;
	margin:0 auto;
}
.img1{
	width:15%;
	float:left;
	margin:10% 5%;
}
.img2{
	width:15%;
	float:right;
	margin:10% 5%;
}
遇到的问题：ps字体丢失
百分比都是瞎弄的，不知道怎么精确弄



