.wrap{
    width:100%;
    background-color: #29bde0;
    overflow-y: scroll;
}
header{
    overflow: hidden;
    width:100%;
    height: .70rem;
    font-size: .34rem;
    text-align: center;
    line-height: .70rem;
    color: #fff;
    background-color: #29bde0;
}
.img-max-width{
    display: inline-block;
    max-width: .44rem;
}
header .img-max-width {
    max-width: 100%;
    padding: 0 .22rem;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.audio{
    width: 100%;
    height: .82rem;
    font-size: .26rem;
    line-height: .82rem;
    background-color: #bde9f5;
}
.audio span{
    margin-left: .46rem;
}
.audio button{
    float: right;
    border:none;
    margin-right: .16rem;
    background-color: transparent;
}
.click-out {
    width: 100%;
    height: .74rem;
    font-size: .24rem;
}
.click-out .down-triangle{
    margin-left: 10.938%;
    width: 0;
    height: 0;
    border-top: .13rem solid #bde9f5;
    border-bottom: .13rem solid #bde9f5;
    border-left: .26rem solid transparent;
    border-top: .26rem solid transparent;
}
.click-out p{
    padding-left: 10.94%;
}
.container{
    width: 100%;
    padding: 0 6.56%;
}
.container .row{
    overflow: hidden;
    margin: .22rem 0 0 0;

}
.container .row .col-xs-4{
    padding: 0;
}
.container .row .col-xs-4 .box{
    display: inline-block;
    width: 68%;
    height: 1.36rem;
    border: .05rem solid #fff;
    text-align: center;
}
.box-middle {
    text-align: center;
}
.box-right {
    text-align: right;
}
.container .col-xs-4 .box .identity {
    width: 100%;
    height: 1rem;
    font-size: .30rem;
    line-height: 1rem;
    text-align: center;
    background-color: #f5c97b;
}
.container .col-xs-4 .box .number {
    width:100%;
    height: .26rem;
    font-size: .22rem;
    line-height: .26rem;
    color: #fff;
    background-color: #83b09a;
}
.container .col-xs-4 .box-option {
    overflow: hidden;
    margin-top: .27rem;
    visibility: hidden;
    width: 100%
}
.container .col-xs-4 .box-option li {
    float: left;
    margin-right: .04rem;
    max-width: .25rem;
    font-size: 0;
}
.container .col-xs-4 .box-option .cure{
    margin-right: 0;
}
.container .col-xs-4 .box-option li img{
    max-width:100%;
    font-size: 0;
}
.container .col-xs-4 .box:hover .box-option li{
    visibility: visible;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 1.9rem;
    border-top: .02rem solid #fff;
    padding: .42rem 11.4% .61rem 12.18%;
    background-color: #29bde0;
}
footer .btn{
    width: 100%;
    height: .86rem;
    font-size: .41rem;
    line-height:.86rem;
    background-color: #fbb435;
}

