@charset "utf-8";
html {
  font-size: 100px;
}
body {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  font-family: "Microsoft Yahei", sans-serif;
}
#wrap {
  background-color: #29bde0;
}
header {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 0.66rem;
  line-height: .38rem;
  padding: .14rem 0;
  text-align: center;
  background-color: #29bde0;
}
header img {
  max-width: 100%;
}
header .header-common {
  position: absolute;
  display: inline-block;
  font-size: 0;
}
header .header-left {
  width: .38rem;
  left: 3.125%;
}
header .header-right {
  width: .34rem;
  right: 3.125%;
}
header h2 {
  font-size: 0.34rem;
  color: #ffffff;
  font-weight: normal;
}
#vote {
  font-size: 0.26rem;
  color: #000000;
}
#vote .vote-top {
  height: 0.82rem;
  background-color: #b9e9f5;
}
#vote .tri-down {
  width: 0;
  height: 0;
  border-top: .13rem solid #b9e9f5;
  border-left: .075rem solid transparent;
  border-right: .075rem solid transparent;
  margin-left: 11%;
}
#vote span {
  padding-left: 6.25%;
  line-height: 0.82rem;
}
#vote button {
  float: right;
  margin: .15rem 3.125% 0 0;
  width: .52rem;
  border: none;
  background-color: #b9e9f5;
  cursor: pointer;
  outline: none;
}
#vote button img {
  max-width: 100%;
}
#vote p {
  font-size: 0.22rem;
  color: #ffffff;
  font-weight: 300;
  padding: .12rem 0 .44rem 11.25%;
}
#main-content {
  overflow: hidden;
  padding: 0 .07rem;
  background-color: #29bde0;
  margin-bottom: 1.73rem;
}
#main-content li {
  width: 1.36rem;
  float: left;
  margin: 0 5.6%;
}
#main-content .box {
  width: 1.36rem;
}
#main-content .box .box-content {
  border: .05rem solid #fff;
}
#main-content .box .box-top {
  height: .99rem;
  line-height: .99rem;
  text-align: center;
  font-size: 0.3rem;
  color: #000000;
  background-color: #f5c97b;
}
#main-content .box .box-bottom {
  height: .27rem;
  line-height: .27rem;
  text-align: center;
  font-size: 0.22rem;
  color: #ffffff;
  background-color: #83b09a;
}
#main-content .box-option {
  overflow: hidden;
  margin: .21rem 0;
  width: 100%;
  visibility: hidden;
  background: url("../img/sprite.png") no-repeat;
  background-size: 1.36rem .3rem;
}
#main-content .box-option .op-cat {
  font-size: 0;
  width: .3rem;
  height: .3rem;
  margin: 0 .05rem 0 0;
}
#main-content .box-option .cat-1 {
  background-position: 0 0;
}
#main-content .box-option .cat-2 {
  background-position: .35rem 0;
}
#main-content .box-option .cat-3 {
  background-position: .70rem 0;
}
#main-content .box-option .cat-4 {
  background-position: 1.05rem 0;
  margin: 0;
}
#main-content .box:hover .box-option {
  visibility: visible;
}
footer {
  position: fixed;
  bottom: 0;
  max-width: 640px;
  width: 100%;
  padding: 0 6.56%;
  background-color: #29bde0;
}
footer .button {
  padding: .42rem 0;
  margin-left: -0.07rem;
  border-top: .02rem solid #fff;
  font-size: 0;
}
footer button {
  border: none;
  width: 100%;
  height: .87rem;
  font-weight: 600;
  background-color: #fbb435;
}
footer a {
  font-size: 0.38rem;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 645px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 525px) {
  html {
    font-size: 65px;
  }
}
@media screen and (max-width: 430px) {
  #main-content {
    padding: 0 5%;
  }
  #main-content li {
    margin: 0 8%;
  }
  footer {
    padding: 0 10%;
  }
}
