@charset "utf-8";
html {
  font-size: 100px;
}
body {
  min-width: 1320px;
  font-family: "Microsoft Yahei", sans-serif;
  background-color: #fafafa;
}
.box-s {
  -webkit-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  -moz-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
}
.middle {
  width: 1200px;
  margin: 0 auto;
}
#banner {
  background: url("../img/banner.png") no-repeat;
  background-size: 100%;
  height: 2.5rem;
}
#main-content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#main-content h2 {
  font-size: 16px;
  color: #000000;
  line-height: .8rem;
}
#main-content h2 strong {
  font-size: 16px;
  color: #32c086;
}
.content-left {
  float: left;
  clear: both;
  margin-left: .02rem;
  margin-right: .2rem;
  width: 3.06rem;
  -webkit-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  -moz-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
}
.content-left h3 {
  font-size: 16px;
  color: #000000;
  border-bottom: 1px solid #e6e6e6;
  line-height: .52rem;
  text-align: center;
}
.content-left ul {
  padding: .4rem 0 .04rem 1.35rem;
}
.content-left li {
  font-size: 0;
  margin-bottom: .36rem;
  line-height: 1;
}
.content-left li ::before {
  content: ' ';
  display: inline-block;
  margin-right: .06rem;
  width: .1rem;
  height: .1rem;
  border: 2px solid #ff640c;
  border-radius: 50%;
  vertical-align: middle;
}
.content-left li:hover a {
  font-size: 14px;
  color: #ff650e;
}
.content-left li:hover :before {
  background-color: #f9a372;
}
.content-left li a {
  font-size: 14px;
  color: #29b078;
}
.content-right {
  float: right;
  width: 8.7rem;
  margin-right: .02rem;
  margin-bottom: 2.3rem;
  font-size: 0;
  -webkit-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  -moz-box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  box-shadow: 0.02rem 0.02rem 0.02rem #eeeded, -0.02rem -0.02rem 0.02rem #eeeded;
  background-color: #ffffff;
}
.content-right figure {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}
.content-right figure img {
  float: left;
  padding: .6rem .34rem .7rem .84rem;
}
.content-right figure p {
  float: left;
  width: 5.64rem;
  padding-top: .26rem;
  font-size: 14px;
  color: #999999;
  line-height: .3rem;
}
.content-right .detail-intro {
  clear: both;
  padding: .4rem .68rem 1.7rem .62rem;
}
.content-right .detail-intro p {
  font-size: 14px;
  color: #999999;
  line-height: .3rem;
  margin-bottom: .4rem;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 75px;
  }
  body {
    min-width: 980px;
  }
  header .header-top,
  #main-contain,
  #main-contain .step,
  footer .link,
  footer .footer-bottom,
  footer .copyright p {
    width: 900px;
  }
  header .nav {
    width: 950px;
  }
  .footer-bottom .footer-middle {
    width: 3.03rem;
    margin-right: 2.1rem;
  }
  #main-content {
    width: 900px;
  }
}
@media screen and (max-width: 980px) {
  html {
    font-size: 75px;
  }
  body {
    min-width: 640px;
  }
  header .header-top,
  #main-contain,
  #main-contain .step,
  footer .link,
  footer .footer-bottom,
  footer .copyright p {
    width: 640px;
  }
  header .nav {
    width: 640px;
  }
  header .header-top .header-right li {
    width: 20px;
  }
  .footer-bottom .footer-middle {
    width: 2.93rem;
    margin-right: .5rem;
  }
  #main-content {
    width: 640px;
  }
  #main-content h2 {
    width: 635px;
    margin: 0 auto;
  }
  .content-left {
    float: none;
    width: 635px;
    margin: 0 auto;
  }
  .content-left ul {
    padding-left: 280px;
  }
  .content-right {
    float: none;
    width: 635px;
    margin: 50px auto;
  }
  .content-right figure img {
    padding-left: 20px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 70px;
  }
  body {
    min-width: 320px;
  }
  header .header-top,
  #main-contain,
  #main-contain .step,
  footer .link,
  footer .footer-bottom,
  footer .copyright p {
    width: 320px;
  }
  header .nav {
    width: 320px;
  }
  header .header-top .header-right li {
    width: 18px;
  }
  .footer-bottom .footer-middle {
    width: 2.93rem;
    margin-right: .5rem;
  }
  footer .footer-bottom .footer-right {
    margin-bottom: 20px;
  }
  #banner {
    height: 1.5rem;
    background-size: 100% 100%;
  }
  #banner .banner-img-wrap {
    height: 1.5rem;
  }
  #main-content {
    width: 320px;
  }
  #main-content h2 {
    width: 320px;
    margin: 0 auto;
  }
  .content-left {
    float: none;
    width: 318px;
    margin: 2px auto;
  }
  .content-left ul {
    padding-left: 120px;
  }
  .content-right {
    float: none;
    width: 318px;
    margin: 50px auto;
  }
  .content-right figure {
    text-align: center;
  }
  .content-right figure img {
    float: none;
    padding: 0;
    margin-top: 20px ;
  }
  .content-right figure p {
    width: 260px;
    padding: 0;
    margin: 20px 30px 20px;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  #banner {
    height: 1rem;
  }
  #banner .banner-img-wrap {
    height: 1rem;
  }
}
