html{
    font-size: 100px;
}
body{
    margin: 0 auto;
    max-width: 720px;
    min-width: 320px;
    font-family: "Microsoft Yahei",sans-serif;
}
@media screen and (max-width: 530px){
    html{font-size: 80px;}
}
@media screen and (max-width: 435px){
    html{font-size: 70px;}
}
@media screen and (min-width: 720px){
    .container{
        width: 720px;
    }
}
